<!DOCTYPE html>
<html>
<head>
  <title>ComptoxImpact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <script charset="utf-8">
    <% if ENV["RAILS_ENV"] == "production" %>
    var script = "/webpack_bundle.js";
    <% else %>
    console.warn("Development mode. Make sure to start 'node devServer.js'");
    var script = "http://" + (location.host || 'localhost').split(':')[0] + ":4000/webpack_bundle.js"
    <% end %>
    document.write('<script src="' + script + '"></' + 'script>');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component(:Header, {}) %>

<%= yield %>

</body>
</html>
